@model pos_asp_net_mvc.Entities.Transaction
@using pos_asp_net_mvc.Entities
@{
    Layout = null;
    var details = (List<TransactionDetail>)ViewBag.Details;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hello World">
    <meta name="author" content="Sandy Andryanto">
    <title> Point Of Sale - Print Invoice Purchase Order</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>

<body onload="window.print()">
    <div class="">
        <div class="container-fluid table-responsive">
            <h1 class='text-center'>
                SALES ORDER INVOICE
            </h1>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Invoice Date : @Model.InvoiceDate </th>
                        <th colspan="2">Invoice Number : @Model.InvoiceNumber</th>
                    </tr>
                    <tr>
                        <th colspan="2">Customer : @Model.Customer.Name</th>
                        <th colspan="2">Casheir : @Model.User.UserName</th>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (details != null)
                        {
                            foreach (var row in details)
                            {
                                <tr>
                                    <td>@row.Product.Sku - @row.Product.Name</td>
                                    <td>@row.Price</td>
                                    <td>@row.Qty</td>
                                    <td>@row.Total</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class='text-center'>
                                <td colspan='4'>
                                    -- No Items --
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">Discount : @Model.Discount</th>
                        <th colspan="2">Tax :@Model.Tax</th>
                    </tr>
                    <tr>
                        <th colspan="2">Subtotal : @Model.SubTotal</th>
                        <th colspan="2">Grand Total : @Model.GrandTotal</th>
                    </tr>
                    <tr>
                        <th colspan="2">Petty Cash : @Model.Cash</th>
                        <th colspan="2">Change : @Model.Change</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>

</html>