@using Microsoft.AspNet.Identity

<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Point Of Sales</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right sidebar-menu">

             @if (Request.IsAuthenticated)
             {
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-database"></i>&nbsp;Master Data <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Brand")">
                                <i class="fa fa-car"></i>&nbsp;Brand
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Category")">
                                <i class="fa fa-tags"></i>&nbsp;Category
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Customer")">
                                <i class="fa fa-users"></i>&nbsp;Customers
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Product")">
                                <i class="fa fa-space-shuttle"></i>&nbsp;Product
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Supplier")">
                                <i class="fa fa-truck"></i>&nbsp;Supplier
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Type")">
                                <i class="fa fa-rocket"></i>&nbsp;Types
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Index", "Role")">
                                <i class="fa fa-key"></i>&nbsp;Role
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "User")">
                                <i class="fa fa-user"></i>&nbsp;User
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-money"></i>&nbsp;Transaction <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Purchase")">
                                <i class="fa fa-cart-arrow-down"></i>&nbsp;Purchases
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Sale")">
                                <i class="fa fa-cart-plus"></i>&nbsp;Sales
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Report")"><i class="fa fa-line-chart"></i>&nbsp;Report</a>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-plus"></i>&nbsp;@User.Identity.GetUserName() <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu treeview-menu">
                        <li>
                            <a href="@Url.Action("Profile", "User")">
                                <i class="fa fa-user"></i>&nbsp;My Profile
                            </a>
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-sign-out"></i>&nbsp;Sign Out
                            </a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                            {
                               @Html.AntiForgeryToken()
                            }
                        </li>
                    </ul>
                </li>
             }
             else
             {
                <li>
                    <a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a>
                </li>
                <li>
                    <a href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus"></i>&nbsp;Sign Up</a>
                </li>
             }


        </ul>
    </div>
</div>
